{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'base/HeaderCss&JS.html' %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="text-center">

{% include 'base/navbar.html' %}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% include 'base/FooterJS.html' %}

</body>
</html>